<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<nav class="pagination" role="navigation" aria-label="pagination"><%= paginate @categories %> </nav>
<div id="categories">
  <% @categories.each do |category| %>
    <p>
      <%= link_to category.category_name, category %>
    </p>
  <% end %>
</div>
<nav class="pagination" role="navigation" aria-label="pagination"><%= paginate @categories %> </nav>
<%# <%= link_to "New category", new_category_path %>
