<div id="<%= dom_id product %>">
    <h2><%= product.product_name %></h2>
    <p>
        <div>Category: <%= product.Category.category_name %></div>
        <div>Price: $<%= product.price %></div>
        <br>
    </p>

    <% if product.image.present? %>
        <div class="card-image">
        <figure class="image">
            <%= image_tag(product.image, size:"250x250") %>
        </figure>
        </div>
    <% end %>
</div>

<% if cart.include?(product) %>
    <%= button_to cart_path(product), method: :delete do %>
        Remove from cart
    <% end %>
<% else %>
    <%= form_with url: cart_index_path, method: :post do %>
        <%= hidden_field_tag(:id, product.id) %>
        <%= button_tag 'Add to cart' %>
    <% end %>
<% end %>